.modal-overlay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1300;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.modal {
  height: auto;
  @include xs(height, 400px);
  @include xs(overflow, scroll);
  @include xs(font-size, 13px);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #fff;

  &__close {
    position: absolute;
    right: 34px;
    top: 10px;
    font-size: 40px;
    @include xs(font-size, 20px);
    cursor: pointer;
  }

  &__main,
  &__secondary {
    @include row-flex();
  }

  &__image {
    @include col();
    @include size(4);
    @include size-xs(12);
    max-width: 100%;
    @include xs(max-width, 150px);
    @include xs(margin, 0 auto);
    height: auto;
    @include xs(max-height, 222px);
  }

  &__description {
    @include col();
    @include size(8);
    @include size-xs(12);
  }

  &__info {
    max-width: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .star {
      width: 30px;
      height: 30px;
    }
  }

  &__genres {
    @include col();
    @include size(4);
    @include size-sm(6);
    @include size-xs(12);
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
  }
  &__genre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 130px;
    height: 37px;
    padding: 10px 25px;
    background-color: #838383;
    border-radius: 5px;
    margin-top: 10px;
  }

  &__emp {
    @include col();
    @include size(8);
    @include size-sm(6);
    @include size-xs(12);
  }
}

.modal-visible {
  display: flex;
  opacity: 1;
}
