.movies {
  @include col();
  @include size(8);
  @include size-sm(12);
  @include row-flex;
}

.movie {
  @include col();
  @include size(3);
  @include size-sm(4);
  @include size-xs(12);

  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s linear;

  &__image {
    @include sm(width, 100%);
    @include sm(height, auto);

    width: 120px;
    height: 177px;
    margin: 0 auto;
  }

  &__year {
    margin-top: 10px;
  }

  &__description {
    margin-top: 10px;
    text-align: center;
  }
}
// favorie star
.star {
  cursor: pointer;
  z-index: 999;

  &-img {
    background-image: url("../images/star.svg");
  }

  &-img-active {
    background-image: url("../images/star-active.svg");
  }
}

.grid-view {
  &:hover {
    display: block;
    transform: scale(1.1);
    @include sm(transform, scale(1));
  }

  .star {
    width: 30px;
    height: 30px;

    &-grid {
      position: absolute;
      right: 5px;
      top: -10px;
    }
  }
}

.list-view {
  flex-basis: 90%;
  display: flex;
  @include xs(display, block);
  padding: 26px 20px;
  @include xs(padding, 20px 0);
  background-color: #ababab;
  border-radius: 10px;

  &__block {
    padding: 0 20px;

    p {
      @include xs(font-size, 13px);
    }
  }
  .star,
  .star-img-active {
    width: 30px;
    height: 30px;
  }

  .star {
    &-list {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .movie__image {
    width: 150px;
  }
  .movie__description {
    @include xs(margin-top, 5px);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .movie__year {
    margin: 0;
  }

  &__genres {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__genre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 130px;
    height: 37px;
    padding: 8px 20px;
    background-color: #d5d4d4;
    border-radius: 5px;
    margin-top: 10px;
  }
}
