{{#this}}
<div class="movie grid-view" data-id={{id}}>
  <div class="star star-grid star-img"></div>
  <img src={{img}} alt="poster" class="movie__image" />
  <div class="movie__description">
    <div class="movie__title">{{name}}</div>
    <div class="movie__year">{{year}}</div>
  </div>
</div>
{{/this}}