div.menu
  select(class="menu__select" id="genre")
    option(disabled selected) Choose genre
    option(value="") All
    option(value="action") Action
    option(value="crime") Crime
    option(value="usa") USA
    option(value="sci-fi") Sci-Fi
    option(value="drama") Drama
    option(value="thriller") Thriller
    option(value="adventure") Adventure
    option(value="sport") Sport
    option(value="biography") Biography
